{% extends 'base.html.twig' %}

{% block body %}


    <div class="table-responsive">
        <div class="container">
            <h4>{{ remark.title }}</h4>
            <p>{{ remark.content }}</p>
        </div>
    </div>


{% endblock %}